<fx-card>
  <fx-card-body>
    <fx-stepper>
      <fx-step state="selected"> Group Type </fx-step>
      <fx-step state="invalid"> Members </fx-step>
      <fx-step state="valid"> Owners </fx-step>
      <fx-step state="open"> Settings </fx-step>
    </fx-stepper>
  </fx-card-body>
</fx-card>
<fx-card>
  <fx-card-header>
    <fx-card-title>Normal Button</fx-card-title>
  </fx-card-header>
  <fx-card-body>
    <button fxButton color="primary">Primary</button>
    <button fxButton color="accent">Accent</button>
    <button fxButton color="basic">Basic</button>
    <button fxButton color="warn">Warn</button>
    <button fxButton color="success">Success</button>
    <button disabled (click)="c()" fxButton>Disabled</button>
  </fx-card-body>
</fx-card>
<br />
<fx-card>
  <fx-card-header>
    <fx-card-title>Action Buttons</fx-card-title>
  </fx-card-header>
  <fx-card-body>
    <button fxActionButton color="primary">Primary</button>
    <button fxActionButton color="accent">Accent</button>
    <button fxActionButton color="basic">Basic</button>
    <button fxActionButton color="warn">Warn</button>
    <button fxActionButton color="success">Success</button>
  </fx-card-body>
</fx-card>
<br />
<fx-card>
  <fx-card-header>
    <fx-card-title>Icon Buttons</fx-card-title>
  </fx-card-header>
  <fx-card-body>
    <button fxIconButton color="primary">
      <fx-icon>more_vert</fx-icon>
    </button>
    <button fxIconButton color="accent">
      <fx-icon>more_vert</fx-icon>
    </button>
    <button fxIconButton color="basic">
      <fx-icon>more_vert</fx-icon>
    </button>
    <button fxIconButton color="warn"><fx-icon>more_vert</fx-icon></button>
    <button fxIconButton color="success"><fx-icon>more_vert</fx-icon></button>
  </fx-card-body>
</fx-card>
<br />
<fx-card>
  <fx-card-header>
    <fx-card-title>FAB</fx-card-title>
  </fx-card-header>
  <fx-card-body
    ><button fxFabButton color="primary"><fx-icon>more_vert</fx-icon></button>
    <button fxFabButton color="accent">
      <fx-icon>more_vert</fx-icon>
    </button>
    <button fx-fab-button color="basic">
      <fx-icon>more_vert</fx-icon>
    </button>
    <button fxFabButton color="warn"><fx-icon>more_vert</fx-icon></button>
    <button fxFabButton color="success"><fx-icon>more_vert</fx-icon></button>
  </fx-card-body>
</fx-card>
<br />
<fx-card>
  <fx-card-header>
    <fx-card-title>Test Card</fx-card-title>
  </fx-card-header>
  <fx-card-body>
    <fx-icon [selectable]="true" color="primary">more_vert</fx-icon>
    <fx-icon color="accent">more_vert</fx-icon>
    <fx-icon color="basic">more_vert</fx-icon>
    <fx-icon color="success">more_vert</fx-icon>
    <fx-icon color="warn">more_vert</fx-icon>
  </fx-card-body>
  <br />
</fx-card>
<br />
<fx-divider></fx-divider>
<br />
<fx-card style="max-width: 240px">
  <fx-card-header>
    <fx-card-title>Test Card</fx-card-title>
    <fx-card-subtitle>What's up?</fx-card-subtitle>
  </fx-card-header>
  <fx-card-body>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum sunt,
    accusamus ab reiciendis esse ipsum possimus laudantium natus rerum eligendi
    et, magnam distinctio itaque voluptate! A expedita voluptatem vero incidunt.
  </fx-card-body>
  <fx-card-footer>
    <button color="success" fxButton>Like</button>
    <button color="warn" fxButton>Dislike</button>
  </fx-card-footer>
</fx-card>

<br />
<fx-card style="max-width: 240px">
  <fx-card-body>
    <button fxButton [fx-menu-trigger-for]="menu">Open Menu</button>
    <fx-menu #menu>
      <button fx-menu-item>Beep Boop</button>
      <button [disabled]="true" fx-menu-item>Beep Boop</button>
      <button color="primary" fx-menu-item>Beep Boop</button>
    </fx-menu>
  </fx-card-body>
</fx-card>
