<div class="fx-theme fx-elevation-1">
  <h1>Buttons</h1>
  <div class="example-card fx-elevation-2">
    <button fxButton type="primary">Primary</button>
    <button fxButton type="accent">Accent</button>
    <button fxButton type="basic">Basic</button>
    <button fxButton type="warn">Warn</button>
    <button fxButton type="success">Success</button>
  </div>
  <div class="example-card fx-elevation-2">
    <button fxActionButton type="primary">Primary</button>
    <button fxActionButton type="accent">Accent</button>
    <button fxActionButton type="basic">Basic</button>
    <button fxActionButton type="warn">Warn</button>
    <button fxActionButton type="success">Success</button>
  </div>
  <div class="example-card fx-elevation-2">
    <button fxIconButton type="primary"><fx-icon>circle</fx-icon></button>
    <button fxIconButton type="accent"><fx-icon>circle</fx-icon></button>
    <button fxIconButton type="basic"><fx-icon>circle</fx-icon></button>
    <button fxIconButton type="warn"><fx-icon>circle</fx-icon></button>
    <button fxIconButton type="success"><fx-icon>circle</fx-icon></button>
  </div>
  <h1>Icons</h1>
  <div class="example-card fx-elevation-2">
    <fx-icon [selectable]="true" type="primary">circle</fx-icon>
    <fx-icon type="accent">circle</fx-icon>
    <fx-icon type="basic">circle</fx-icon>
    <fx-icon type="success">circle</fx-icon>
    <fx-icon type="warn">circle</fx-icon>
  </div>
</div>
