@use "sass:map";
@use "../theming/theming";
@use "../style/style-types";

@use '~@angular/material' as mat;

$ripple-color-opacity: 0.1;
$selector-prefix: "fx";

/* Colors for the ripple elements.*/
@mixin apply-theme-ripple-colors($theme) {
  $colors: theming.get-type-color-map($theme);

  @include style-types.for-each-style-type($selector-prefix) using ($type) {
    $color: map.get($colors, $type);

    .mat-ripple-element {
      background-color: rgba($color, $ripple-color-opacity);
    }
  }
}

@mixin apply-ripple-color($color) {
  .mat-ripple-element {
    background-color: rgba($color, $ripple-color-opacity);
  }
}

@mixin apply-theme($theme) {
  @include mat.ripple();
  @include apply-theme-ripple-colors($theme);
}
